<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="text">
    <button onclick="fetchData()">fetch</button>
     <div class="data">
        {{data}}
     </div>
    <script src="./test.js"></script>
</body>
</html>